
        div{
            margin: 5px;
        }

        .btn{
            margin:5px;
            width: 100px;
            font-weight: bold;
        }
        .btnPiso{
            margin:5px;
            background-color: blueviolet;
            color: white;            
            font-weight: bold;
        }

        input{
            margin: 5px;
        }